#a2opt-content-general #kb-search-request {
	font-size: 18px;
	border-radius: 5px;
	color: #999;
	padding: 3px;
	width: 300px;
}

#a2opt-content-general .kb-search button {
	font-size: 14px;
	padding: 6px 12px;
	vertical-align:top;
}
#a2opt-content-general .btn.large {
	font-size: 15px;
	line-height: normal;
	padding: 9px 14px 9px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#a2opt-content-general {
    background: none;
}

#a2opt-content-general .fade{
    opacity: 100 !important;
}

#a2opt-content-general .checkbox{
    width:24px;
    height:24px;
    float:left;
    background: url(../images/icons.png) no-repeat -452px -112px;
}

#a2opt-content-general .checkbox.checked{
    background: url(../images/icons.png) no-repeat -424px -112px;
}

#a2opt-content-general .optimization-status{
    width:260px;
    float:left;
    font-size:1.2em;
}

#a2opt-content-general .glyphicon-ok{
    color:green;
}

#a2opt-content-general .glyphicon-warning-sign{
    color:orange;
}
#a2opt-content-general .glyphicon-exclamation-sign{
    color:red;
}

#a2opt-content-general .danger{
    color:red;
}

#a2opt-content-general .warning{
    color:orange;
}

#a2opt-content-general .success{
    color:green;
}



#a2opt-content-general .badge-warning{
    background-color:orange !important;
}
#a2opt-content-general .badge-danger{
    background-color:red !important;
}
#a2opt-content-general .badge-success{
    background-color:green !important;
}
#a2opt-content-general .badge-default{
    background-color:blue !important;
}

#a2opt-content-general .optimization-item{
    padding:10px;
    border-width: 0 0 2px 0;
    border-style: solid;
}

#a2opt-content-general .tab-content{
    background-color:#fff;
    padding:10px;
    border-color: #dddddd;
    border-style: solid;
    border-width: 0 1px 1px 1px;
}

#a2opt-content-general .a2-content {
    background-color: #fff;

}


#a2opt-content-general a.a2-exclusive{
    display: block;
    width: 250px;
    height: 19px;
    background: url(../images/a2-exclusive.png) no-repeat;
}

#a2opt-content-general .optimization-item .optimization-item-one{
    float:left;
    width:44px;
    font-size:36px
}

#a2opt-content-general .optimization-item .optimization-item-two{
    float:left;
}

#a2opt-content-general .optimization-item .optimization-item-three{
    clear:both;
}

#a2opt-content-general .optimization-item .optimization-item-four{
    clear:both;
}

#edge-mode{
    display:none !important;
    height:0px !important;
}
#gfw-hosting-meta-box{
    display:none !important;
}
img[title=Logo]{
    display:none;
}

#a2opt-content-general .optimization-item.inactive {
    color: #ddd;
}

#a2opt-content-general .optimization-item.inactive .glyphicon-exclamation-sign, #a2opt-content-general .optimization-item.inactive .danger {
    color: #ddd;
}